<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.lolii.playground">

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_ground"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_ground"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="city.picker.MainActivity"
            android:theme="@style/CustomTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="expandable.sample.ExpansionPanelMainActivity">

        </activity>
        <activity android:name="expandable.sample.ExpansionPanelSampleActivity"></activity>
        <activity android:name="expandable.sample.ExpansionPanelSampleActivityProgrammatically"></activity>
        <activity android:name="expandable.sample.ExpansionPanelSampleActivityRecycler"></activity>
        <activity android:name="expandable.sample.ExpansionPanelSampleActivityViewGroup"></activity>



    </application>

</manifest>