<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.lolii.playground">

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_ground"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_ground"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />

            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="tt.lolii.cn"
                    android:scheme="tttt"></data>
            </intent-filter>
        </activity>
        <!--<a href="tttt://tt.lolii.cn">TTTT</a>-->

        <activity
            android:name="city.picker.SampleCityPickerActivity"
            android:theme="@style/CustomTheme"></activity>
        <activity android:name=".SampleExpandableActivity" />
        <activity android:name="expandable.sample.ExpansionPanelMainActivity"></activity>
        <activity android:name="expandable.sample.ExpansionPanelSampleActivity"></activity>
        <activity android:name="expandable.sample.ExpansionPanelSampleActivityProgrammatically"></activity>
        <activity android:name="expandable.sample.ExpansionPanelSampleActivityRecycler"></activity>
        <activity android:name="expandable.sample.ExpansionPanelSampleActivityViewGroup"></activity>


        <activity android:name="photo.picker.sample.SamplePhotoPickerActivity"></activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.zhihu.matisse.sample.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths_public"></meta-data>
        </provider>
    </application>

</manifest>